*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --logo-font: 'Suez One', serif;
    --serif-font: 'Prata', serif;
    --sans-font: 'Inter', sans-serif;
    --teal: #3a98b9;
    --off-white: #eeeeee;
    --light-brown: #e8d5c4;
    --cream: #fff1dc;
    --warning-color: orangered;
    --logo-size: 10em;
}

body {
    font-family: var(--sans-font);
    background-color: var(--off-white);
    overflow-x: hidden;
}

nav {
    background-color: white;
    box-shadow: 0 1px 8px #777;
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    background-color: white;
}

.navbar > img, .footer-img > img {
    width: var(--logo-size);
}

main {
    width: 80%;
    margin: 3rem auto;
}

h1 {
    font-family: var(--serif);
    font-size: 1.5rem;
    text-align: center;
    margin: -1.5rem 0 0.5rem 0;
}

.results {
    min-height: 2rem;
}

#description {
    font-family: var(--logo-font);
}

#welcome.hidden {
    opacity: 0;
    transform: translate(-200%);
}

#welcome.revealed {
    color: var(--teal);
    opacity: 100;
    transform: translate(14%);
    transition: all 700ms 650ms ease-in-out;
}

#started.hidden {
    opacity: 0;
    transform: translate(-200%);
    width: 80%;
}

#started.revealed {
    color: var(--teal);
    opacity: 100;
    transform: translate(19%);
    transition: all 700ms 1500ms ease-in-out;
}

.not-visible {
    visibility: hidden;
}

#first-fieldset, #second-fieldset, #third-fieldset {
    border: none;
    min-width: 30%;
    margin-right: 3rem;
}

.first-reveal > p {
    font-size: 0.75rem;
    display: block;
}

.second-reveal {
    display: block;
}

#username-error, #email-error {
    visibility: hidden;
    color: var(--warning-color);
    font-size: 0.65rem;
}

.third-reveal {
    display: flex;
    flex-direction: column;
}

dialog {
    display: grid;
}

.modal {
    padding: 1em;
    max-width: 50ch;
    border: 0;
    box-shadow: 0 0 1em rgb(0 0 0 / .3);
    margin: auto;
    width: 90%;
    transform: scale(0.1);
    transition: transform 200ms;
 }
  
.modal::backdrop {
    background: linear-gradient(45deg, #3a98b9, #a99380);
    opacity: 50%;
}

.modal-scale {
    visibility: visible;
    transform: scale(1);
}

.content-area {
    text-align: center;
    font-weight: bold;
    margin: 1.5rem 0;
}

.description {
    font-size: 0.9rem;
    color: var(--teal);
    margin-bottom: 1em;
}

.instructions {
    margin: 2rem, 0;
    font-size: 1.1rem;
}

.questions-one, .questions-two, .questions-three, .questions-four {
    font-size: 0.9rem;
    margin: 0.5em 0;
}

.hidden-radio {
    display: none !important;
}

button {
    background-color: initial;
    background-image: linear-gradient(-180deg, #716958, #333);
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    outline: 0;
    overflow: hidden;
    padding: 0 10px;
    pointer-events: auto;
    position: relative;
    text-align: center;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: top;
    white-space: nowrap;
    width: auto;
    z-index: 9;
    border: 0;
    transition: box-shadow .2s;
    margin-top: 0.5rem;
}

button:hover {
    box-shadow: var(--teal) 0 3px 8px;
}

.close-modal-figurative-language, .close-modal-analogies, .close-modal-reading-in-context, .close-modal-authors-purpose {
    margin: 1 auto;
    text-align: center;
    width: 100%;
}

input[type="radio"]:checked {
    accent-color: var(--teal);
}

.results-panel {
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translate(-50%, -0%);
    border: solid var(--teal) 2px;
    display: none;
    width: 90%;
    height: 100px;
    transition: all 250ms ease-in-out;
    background-color: var(--cream);
}

.results {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quiz-result {
    text-align: center;
    vertical-align: middle;
}

footer {
    background-image: linear-gradient(-180deg, #716958, #333);
    box-shadow: 0 0 5px #333;
    color: var(--off-white);
    padding: 2rem 0;
    width: 100%;
    position: sticky;
    z-index: 100;
}

#word-link > h6 > a {
    text-decoration: none;
    color: var(--teal);
    font-weight: bold;
}

.word-of-the-day-wrapper, .footer-img, .contact-info {
    text-align: center;
    max-width: 80%;
    margin: 1rem auto;
}

.word-img {
    text-align: right;
}

.county-info {
    display: flex;
    justify-content: space-between;
    margin-right: 3rem;
}

.county-info > img {
    width: 25%;
    height: 25%;
}

@media screen and (min-width: 850px) {

    .navbar {
        width: 80%;
    }

    .navbar > img, .footer-img > img {
        width: calc(var(--logo-size) * 1.5);
    }

    .panels {
        display: flex;
        justify-content: space-around;
        width: 70%;
        margin: 0 auto;
        height: 50vh;
    }

    .results-panel {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 200px;
        width: 50%;
        margin-bottom: 0;
    }

    .spacer {
        height: 0;
        margin: 0;
    }

    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2rem 0;
        position: fixed;
        bottom: 0;
    }

    .word-of-the-day-wrapper, .footer-img, .contact-info {
        text-align: center;
        max-width: 28%;
    }
    
    .word-of-the-day {
        text-align: left;
    }
}