*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --logo-font: 'Suez One', serif;
    --serif-font: 'Prata', serif;
    --sans-font: 'Inter', sans-serif;
    --teal: #3a98b9;
    --off-white: #eeeeee;
    --light-brown: #e8d5c4;
    --cream: #fff1dc;
    --warning-color: orangered;
    --logo-size: 10em;
}

body {
    font-family: var(--sans-font);
    background-color: var(--off-white);
    /* overflow-x: hidden; */
}

nav {
    background-color: white;
    box-shadow: 0 1px 8px #777;
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    background-color: white;
}

.navbar > img, .footer-img > img {
    width: var(--logo-size);
}

main {
    width: 80%;
    margin: 3rem auto;
}

h1 {
    font-family: var(--serif);
    font-size: 1.5rem;
}

.practice {
    margin: 0 auto;
    font-family: var(--serif);
}

.options > ol {
    padding-left: 40px;
    font-size: 1.3rem;
}

.btn {
    min-width: 120px;
    min-height: 20px;
    margin: 0.5rem 0;
    font-size: 1.5rem;
    background-color: black;
    color: white;
}

.btn:hover {
    background-color: #ddd;
    color: black;
    cursor: pointer;
}

.btn:focus {
    background-color: var(--teal);
    color: rgb(234, 244, 127);
}

.results {
    min-height: 2rem;
}

#description {
    font-family: var(--logo-font);
}

#welcome.hidden {
    opacity: 0;
    transform: translate(-50%);
}

#welcome.revealed {
    opacity: 100;
    transform: translate(0);
    transition: all 1000ms 750ms ease-in-out;
}

#started.hidden {
    opacity: 0;
    transform: translate(10%);
    width: 80%;
}

#started.revealed {
    opacity: 100;
    transform: translate(40%);
    transition: all 900ms 2000ms ease-in-out;
}

.not-visible {
    visibility: hidden;
}

#first-fieldset, #second-fieldset, #third-fieldset {
    border: none;
    min-width: 30%;
    margin-right: 3rem;
}

.first-reveal > p {
    font-size: 0.75rem;
}

#username-error, #email-error {
    visibility: hidden;
    color: var(--warning-color);
    font-size: 0.65rem;
}

.third-reveal {
    display: flex;
    flex-direction: column;
}



.modal {
    padding: 1em;
    max-width: 50ch;
    border: 0;
    box-shadow: 0 0 1em rgb(0 0 0 / .3);
    margin: auto;
    width: 90%;
 }
  
.modal::backdrop {
    background: rgb(0 0 0 / 0.5);
}



footer {
    background-color: #333;
    color: var(--off-white);
    padding: 2rem 0;
    width: 100%;
}

#word-link > h6 > a {
    text-decoration: none;
    color: var(--teal);
    font-weight: bold;
}

.word-of-the-day-wrapper, .footer-img, .contact-info {
    text-align: center;
    max-width: 80%;
    margin: 1rem auto;
}

.word-img {
    text-align: right;
}

.county-info {
    display: flex;
    justify-content: space-between;
    margin-right: 3rem;
}

.county-info > img {
    width: 25%;
    height: 25%;
}

@media screen and (min-width: 850px) {

    .navbar {
        width: 80%;
    }

    .navbar > img, .footer-img > img {
        width: calc(var(--logo-size) * 1.5);
    }

    .panels {
        display: flex;
        justify-content: space-around;
        width: 70%;
        margin: 0 auto;
        height: 75vh;
    }

    footer {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .word-of-the-day-wrapper, .footer-img, .contact-info {
        text-align: center;
        max-width: 28%;
    }
    
    .word-of-the-day {
        text-align: left;
    }

    footer {
        padding: 2rem 0;
        position: fixed;
        bottom: 0;
    }
}